go 1.20

use (
	./01HelloWorld
	./02Variables
	./03Strings
	./04conversions
	./05any
	./06Functions
	./07conditional_Statements
	./08switch_Statements
	./09loops
	./10Arrays
	./11pointers
	./12slices
	./13variadic
	./14Maps
	./15UserDefinedTypes
	./17Interfaces
	./21Anonymous_function
	./22error_handling
	./23panic
	./24Defer
	./25Defer
	./26Recover
	./27Goroutine
	./28waitgroups
	./29Channels
	./30channels
	./31channels
	./32channels
	./33channels
	./34channels
	./35BufferChannels
	./36HTTP
	./37GorillaMux
	./38Gorilla
	././task/task19
	./task
	././task/task15
	././task/task22
)
